:root {
  --bakcol1: #1c262a;
  --bakcol2: #43455c;
  --bakcol3: #707793;
  --textcol1: #3bba9c;
  --textcol2: #ffffff;
}

body {
  background-color: var(--bakcol1);
}

* {
  box-sizing: border-box;
}

.row {
  margin-top: 100px;
}

.column {
  float: left;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
  background-color: rgba(32, 32, 30, 0.67);
  border-radius: 20px;
  color: white;
}

#left {
  margin-left: 50px;
  width: 40%;
  padding: 30px;
  min-height: 480px;
}

#right {
  margin-left: 40px;
  width: 45%;
  position: relative;
  transform: translateY(10%);
}

.row .column h1 {
  text-align: center;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.seasons {
  margin-top: 30px;
  margin-bottom: 30px;
}

.season_block {
  width: 150px;
  margin: 0 auto;
  background-color: rgba(0, 68, 255, 0.83);
  text-align: center;
  padding: 6px;
  border-radius: 10px;
  margin-top: 10px;
}

.season_block:hover,
.season_block:focus {
  background-color: rgba(0, 68, 255, 0.45);
  cursor: pointer;
}

.card {
  border: 1px solid white;
  border-radius: 8px;
  margin-top: 5px;
  padding: 5px;
  text-align: center;
}

#more {
  display: none;
}

#myBtn {
  background-color: rgba(1, 1, 1, 0.0005);
  margin: 0 auto;
  width: fit-content;

  border: 1px solid white;
  border-radius: 10px;
  margin-top: 5px;
  padding: 5px;
  cursor: pointer;

  overflow: hidden;
  white-space: nowrap;
}

#myBtn:hover {
  background-color: rgb(80, 77, 77);
}

.preview {
  height: 370px;
}

.row .column .preview img {
  position: absolute;
  width: 95%;
  height: inherit;
  left: 15px;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);

  border-radius: 10px;
}

.row .column .preview .opaque {
  opacity: 1;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}

.subcolumn {
  float: left;
  padding: 10px;
  /* height: 300px; Should be removed. Only for demonstration */
  background-color: rgba(32, 32, 30, 0.67);
  border-radius: 20px;
  color: white;
}

#subleft{
  /* margin-left: 50px; */
  width: 80%;
  /* padding: 30px; */
}

#subright{
  /* margin-left: 40px; */
  margin-top: 10px;
  width: 12%;
  /* position: relative; */
  /* transform: translateY(10%); */
}

#playbtn{
  width: 100%;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
