{% extends "header.html" %}
{%block title %} Stream IT {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/episodes.css') }}">
{% endblock %}

{% block content%}

<div class="grid-container">

    {% for episode in episodes %}

    <div class="grid-item">
        <a href=" {{ url_for('player', episode_id=episode.id) }} ">
            <img class="thumbnail" src="{{url_for('static',filename='default/thumbnail3.png')}}" alt="thumbnail">
            <div class="title">
                <p>{{episode.name}}</p>
            </div>
        </a>
    </div>

    {%endfor%}
</div>
{% endblock %}