{% extends "header.html" %}
{%block title %} Home Page {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block content%}

<div class="grid-container">

    {% for series in ser_list %}
    
    <div class="grid-item">
        <a href=" {{ url_for('seasons' ,series_id=series.id ) }} ">

            <img class="thumbnail" src="{{url_for('static',filename='default/thumbnail3.png')}}" alt="thumbnail">
            <div class="title">
                <p>{{ series.name}}</p>
            </div>

        </a>
    </div>

    {%endfor%}
</div>
{% endblock %}