{% extends "header.html" %}
{%block title %} Home Page {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/index.css') }}">
{% endblock %}

{% block content%}

<div class="grid-container">

    {% for index in vids %}

    <div class="grid-item">
        <a href=" {{url_for('player',video=vids[index]['name'])}} ">
            <img class="thumbnail" src="{{url_for('static',filename='default/thumbnail3.png')}}" alt="thumbnail">
            <div class="title">
                <p>{{"Death Note - " + vids[index]["name"]}}</p>
            </div>
        </a>
    </div>

    {%endfor%}
</div>
{% endblock %}