{% extends "header.html" %}
{%block title %} Stream-It {{series_name}} {{episode['name']}} {% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static',filename='css/player.css') }}">
{% endblock %}

{% block content%}

<div class="vidContainer">
    <iframe class="video" allow="fullscreen;"   
        src={{episode["src"]}}></iframe>
    <div class="title">
        {{series_name}} {{episode['name']}} - {{season_number }}X{{episode['episode number']}}
    </div>
</div>

{% endblock %}